/*Estilos de la nav*/
.header{
    display: flex;
    justify-content:space-between;
    background-repeat: no-repeat;
    background-size:cover;
    height: 125px;
    max-width:1600px;
    background-color: rgb(0, 0, 0);
}

/*color navbar*/
.containerNav{
    width: 100%;
}

.navBar ul{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
    padding-top: 20px;
    width: 600px;
    margin-left:400px;
    margin-top: 40px;
}

.navBar ul li{
    position: relative;
    margin-right:100px;
}
.navBar ul li .Link{
    display: inline-block;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size:18px;
    text-shadow: 2px 1px rgb(70, 68, 68);
}

.navBar ul li::before{
    content: "";
    width: 0%;
    height: 2px;
    background:  rgb(158, 110, 246);
    position: absolute;
    left: 0;
    bottom: -4px;
    transition: 0.4s  ease-out;
}

.navBar ul li:hover::before{
    width: 100%;
}

.navBar ul li:hover{
    scale: 1.1;
}

